header {
    background-color: green;
}

h1 {
    font-family: Niramit;
    font-weight: bold;
    color: green;
}
.navbar {
    float: right;
    background-color: green;
    color: white;
}

body {
    font-family: Montserrat;
}